<div class="container">
      <div class="col-sm-6" style="height:75px;">
       <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker_start'>
            <input type='datetime' class="form-control" name="meeting[start_time]" value="<%= @meeting.format_to_local_time(@meeting.start_time) %>"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class='col-md-2'>
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>

      <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker_end'>
            <input type='datetime' class="form-control" name="meeting[end_time]" value="<%= @meeting.format_to_local_time(@meeting.end_time) %>"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>