<div class="container">
    <div class="row">
        <div class='col-sm-6' id='datetimepicker_end'>
            <input type='datetime' class="form-control" name="meeting[end_time]" value="<%= @meeting.format_to_local_time(@meeting.end_time) %>"/>
        </div>
    </div>
</div>