<% if @meeting.title && @meeting.start_time && @meeting.end_time %>
  <h1>Duplicate: <%= @meeting.title %></h1>
<% else %>
  <h1>Create a New Meeting</h1>
<% end %>

<br><br>

<%= render "meeting_form" %>
