<h1>NEW MEETING</h1>

<div id="recipients">
 
   <div class="panel panel-default">
      <div data-role="selected-list" class="panel-body">
         <input class="pull-left" data-role="input" type="text" placeholder=""/>
      </div>
   </div>
 
   <div data-role="picker" class="panel panel-default">
      <div class="list-group" data-role="picker-list">
      </div>
   </div>
 
</div>

<script id="contact-item" type="text/template">
   <a class="list-group-item" href="#">
      <small>{{= display_name }} ({{= primary_email }})</small>
   </a>
</script>

<script id="selected-item" type="text/template">
   <a class="list-group-item" href="#">
     <a class="label label-default pull-left">
       {{= display_name }} 
       <span class="glyphicon glyphicon-remove" data-action="remove" aria-hidden="true"></span>
     </a>
   </a>
</script>