<% publish_to "/meetings/#{@meeting.id}/actionables" do %>
  $("#<%= @conclusion_id%>.conclusion").replaceWith(" <a data-remote='true' data-method = 'post' class = 'add_conclusion' href = '/meetings/<%= @meeting.id %>/agenda_topics/<%= @agenda_topic.id %>/conclusions'>Click to add conclusion</a>");
<% end %>
