
.actionable {
  margin: 10px 5px;
  min-height: 30px;
  border-radius: 4px;
  text-align: center;
  background-color: #E0FFE0;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
}

#actionables {
  width: 300px;
  padding: 7px;
}