#meeting-form {
  #down-arrow {
    display:none;
  }
  margin:10px;
  text-align:center;
  .form-control {
    max-width:500px;
    margin:auto;
  };
  .datetime {
    max-width:200px;
    display:inline-block;
  };
  .osb-multisearch {
    margin:auto;
    max-width:500px;
  }; 
  button {
    outline: none;
    color:white;
    border:none;
    font-weight:400;
    background-color:#FF9900;
    padding:15px;
    border-radius:5px;
    &:hover {
        text-decoration:none;
        background-color:#E68A00;
    }
  }
}


.wrap-center {
  display:block;
  text-align:center
}


@media screen and (max-width: 650px) {
  #meeting-form {
    #down-arrow {
      display:block;
    };
    #right-arrow {
      display:none;
    };
    .datetime {
      display:block;
    }
  }
}

/* Contacts Multisearch */
.glyphicon-remove:hover {
  color: #333333;
}
.panel {
  margin: 0;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.panel.focus {
  border-color: #66AFE9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.panel-body {
  padding: 3px 6px;
}
.popover {
  max-width: 347px;
  min-width: 276px;
}
.popover-content {
  overflow: hidden;
  font-size: 90%;
}
.popover-content .col-lg-4, .popover-content .col-lg-8 {
  padding: 0 5px
}
input[data-role="input"] {
  outline: none;
  border: none;
  font-size: 12px;
  color: #555;
  vertical-align: middle;
  padding: 3px 4px;
  margin: 3px;
}
a.label-default {
  cursor: pointer;
  font-size: 12px;
  margin: 3px;
  color: #ffffff;
  background-color: #6cb1e9;
  text-decoration: none;
}
a.label-default.hover {
  box-shadow: 0 0 5px #a9a9a9;
  text-decoration: none;
}
a.label-default.active {
  box-shadow: none;
  text-decoration: none;
}

[data-role="picker"] {
  text-align: left;
  z-index: 100;
  max-height: 375px;
  overflow: auto;
}

/* Datetimepicker clock icon */
.glyphicon-time {
  font-size: 500%;
}