// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.meeting-container {
  max-width:1000px;
  margin:auto;
}

.meeting-header {
  text-align: center;
  margin: auto;
}

#notes p {
  margin: 0px;
  line-height: 1.2em;
}

.editable {
  display:block;
  font-size: 1.5em;
  line-height: 1.5em;
}

input.error {
  color: #a7a7a7;
}

a:focus {
  outline: none;
}

a.list-group-item.hover {
  background-color: #6cb1e9;
  color: #ffffff;
  text-decoration: none;
}

.meeting-row {
  text-align: center;
  margin: auto;
}

/*.meeting-content {
  overflow: hidden;
}
*/
.meeting-column {
  vertical-align: top;
  display:inline-block;
  width: 33%;
  text-align: center;
  padding: 7px;
  overflow-y: hidden;
}

.meeting-column input[type='text'] {
  width: 80%;
}

#actionables, #agendas {
  width: 100%;
  height: 550px;
  position: relative;
  overflow-y: scroll;
}

.not-live {
  width: 80%;
  height: auto !important;
  overflow-y: auto !important;
}


#invitees-list {
  height: 247px;
  overflow-y: scroll;
}

#notes {
  overflow-y: scroll;
  text-align: left;
  height: 247px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: -2px 2px 5px #555;
  padding: 5px;
}

.agenda, .actionable {
  margin: 10px 5px;
  min-height: 30px;
  border-radius: 4px;
  text-align: center;
  background-color: #FFFFBF;
  box-shadow: -2px 2px 5px #555;
  .editable {
    line-height: 1em;
    padding: 3px;
  };
}

.agenda {

  padding-top: 5px;
}

.conclusion {
  border: 2px solid lightyellow;
  padding: 2px;
  border-radius: 4px;
  background-color: lightyellow;
  border-style:inset;
    .editable {
    line-height: 1.1em;
    font-size: 1.1em;
  };
}

.actionable {
  padding: 5px;
  background-color: #E0FFE0;
}

.dragon-drop, .dragon-drop-disabled {
  position: relative;
  padding: 3px;
  border: 1px solid blue;
  border-radius: 8px;
  list-style-type: none;
  margin: 5px auto;
  width: 80%;
}

.dragon-drop {
  cursor: move;
}

.responsible-user{
  cursor: auto;
  background-color: #EBFFEB
}

.placeholder {
  list-style-type: none;
  margin: 0px;
  color: #999;
}

#invitees-list, .responsible-users-list{
  padding: 0px;
  margin: 0px;
  margin: auto;
}

#meeting-id {
  display:none;
}

.name-tag {
  display:none;
}
