<li class = "dragon-drop responsible-user" id = '<%= user.id %>'><%= user.full_name_or_email %>
  <%= link_to "Delete", meeting_actionable_responsibility_path(@meeting, actionable, user.responsibilities.where(actionable_id: actionable.id).first), method: :delete, remote: true, data: { confirm: "Are you sure? This cannot be undone" } %>
</li>
