<div class='container'>
  <h1>Meetings Archive <small><%= current_user.email %></small></h1>
  <br><br><br>
  <% if @meetings.length > 0 %>
    <div class='meeting-list'><%= render @meetings %></div>
  <% else %>
    <div class='text-center'><span class='no-meetings'>No archived meetings. This is where your ended meetings will appear.</span></div>
  <% end %>
</div>