<div class='container'>
  <h1>Upcoming Meetings <small><%= current_user.email %></small></h1>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash #{name}" %>
  <% end %>
  <div id='create-meeting'><%= link_to "Create a meeting", new_meeting_path %></div>
  <div class='meeting-list'><%= render @meetings %></div>
</div>
