<div class='container'>
  <h1>My Meetings <small><%= current_user.email %></small></h1>
  <% flash.each do |name, msg| %>
  	<%= content_tag :div, msg, class: name %>
	<% end %>
  <%= link_to "Create a meeting", new_meeting_path %><br>
  <%= render @meetings.reverse %>
</div>

