<div class='container'>
  <h1>Upcoming Meetings <br><small><%= current_user.email %></small></h1>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash #{name}" %>
  <% end %>
  <div id='create-meeting'><%= link_to "Create a meeting", new_meeting_path %></div>

  <% if @meetings.length > 0 %>
    <div class='meeting-list'><%= render @meetings %></div>
  <% else %>
    <div class='text-center'><span class='no-meetings'>It looks like you don't have any upcoming meetings yet. Click 'Create a meeting' to schedule one, or enjoy your meeting-free time!</span></div>
  <% end %>
</div>
