// Place all the styles related to the agenda_topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.agenda {
  margin: 10px 5px;
  min-height: 30px;
  width: auto;
  border-radius: 4px;
  text-align: center;
  background-color: #FF9999;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
}

#agendas {
  width: 300px;
  padding: 7px;
}