/*
 * 
 * http://www.htmlhexcolor.com/be2f1f
 * Colors: #CC3300, #D4DCE7, #C0CDDC, #5A6480, #FFFFFF, #be2f1f
 *
 *= require normalize-rails
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-datetimepicker.min
 */


$lightbluegray: #D4DCE7;
$mediumbluegray: #C0CDDC;
$darkbluegray: #5A6480;
$black: #333;

body {
  font-family: helvetica;
  font-weight: 100;
  margin: auto;
  margin-bottom: 50px;
}

#top-banner {
  height:6px;
  background-color:$darkbluegray;
}

.container {
  max-width:1000px;
  margin:auto;
}

.google-circle-sm {
  width:30px;
  border-radius: 100%;
}

header {
  height:50px;
  margin-bottom:50px;
  background: -webkit-linear-gradient($lightbluegray, #ADB8C6); 
  background: -o-linear-gradient($lightbluegray, #ADB8C6); 
  background: -moz-linear-gradient($lightbluegray, #ADB8C6); 
  background: linear-gradient($lightbluegray, #ADB8C6);
  img {
    margin-top:-22px;
  };
  a {
    color:$darkbluegray;
    display:inline-block;
    margin-top:5px;
    &:hover {
      color:#515A73;
    };
  };
}


#nav-bar-icons {
  float:left
}

#nav-bar-greeting {
  img {
    margin-right:15px;
  };
  p {
    display:inline-block;
    vertical-align:bottom;
  };
  font-weight:600;
  float:right
}

.error {
  font-weight:900;
  color:red;
  text-align:center;
}

