/*
 * 
 * http://www.htmlhexcolor.com/be2f1f
 * Colors: #CC3300, #D4DCE7, #C0CDDC, #5A6480, #FFFFFF, #be2f1f
 * Gamebookers Pallete - http://www.colourlovers.com/palette/148712/Gamebookers
 * 
 * Vitamin C (yellow) - Route 66 (dark grey) - Steady Grey (light grey) - BC (medium grey) - Gamebookers (blue) #3299BB
 * #FF9900            - #424242              - #E9E9E9                  - #BCBCBC          - #3299BB
 * 
 *= require normalize-rails
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-datetimepicker.min
 */

body {
  font-family: helvetica;
  font-weight: 100;
  margin: auto;
  margin-bottom: 50px;
}

#top-banner {
  height:6px;
  background-color: #CC7A00;
}

.container {
  max-width:1000px;
  margin:auto;
}

.google-circle-sm {
  width:30px;
  border-radius: 100%;
}

#header-google-img {
  width:30px;
  border-radius:10%;
}

header {
  height:50px;
  margin-bottom:50px;
  background: -webkit-linear-gradient(#E9E9E9, #BCBCBC); 
  background: -o-linear-gradient(#E9E9E9, #BCBCBC); 
  background: -moz-linear-gradient(#E9E9E9, #BCBCBC); 
  background: linear-gradient(#E9E9E9, #BCBCBC);
  img {
    margin-top:-22px;
    border:1px solid #424242;
  };
  a {
    color:#424242;
    display:inline-block;
    margin-top:5px;
    &:hover {
      color:#333;
    };
  };
}


#nav-bar-icons {
  float:left
}

#nav-bar-greeting {
  img {
    margin-right:15px;
  };
  p {
    display:inline-block;
    vertical-align:bottom;
  };
  font-weight:600;
  float:right
}

.flash.error {
  font-weight:900;
  color:red;
  text-align:center;
}

h1, h2 {
  text-align: center;
}

a {
  color: #3299BB
}