// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sign-in-banner {
  background-color: lightgray;
  overflow:auto;
  div {
    display:block;
  };
  #about {
    padding:10px;
    font-size:1.3em;
    line-height:1.5em;
  };
  #sign-in {
    text-align:center;
    margin-bottom:30px;
  }
}

#how-it-works {
  text-align:center;
  .tile {
    margin-bottom:50px;
  }
}

.tile {
  background-color:#E6E6E6;
  line-height:1.3em;
  width:200px;  
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
  padding:15px 10px 10px 10px;
  margin:5px;
}
