<h2>Before the Meeting</h2>
<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
      " alt="">
    </div>
    <div class="bullet-content">
      <h2>Schedule a meeting and invite people.</h2>
      <p>Creating a meeting will automatically create a Google Calendar event and send an email notification to those invited.</p>
    </div>
  </li>  
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Give your two cents.</h2>
      <p>Invitees can propose agenda items. This gives more power to the meeting body and gives the meeting organizer the opportunity to hear about unprecendented issues.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Support ideas.</h2>
      <p>Invitees can upvote any agenda item. Get a clear visual of how many other people want to discuss a certain topic.</p>
    </div>
  </li> 
</ul>

<h2>During the Meeting</h2>
<ul class="bullets">
  <li class="bullet one-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
      " alt="">
    </div>
    <div class="bullet-content">
      <h2>Address the issues.</h2>
      <p>Choose which agenda items to discuss and document a conclusion on each topic. Write specific actionables and assign them to meeting members.</p>
    </div>
  </li>  
</ul>


<h2>After the Meeting</h2>
<ul class="bullets">
  <li class="bullet two-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
      " alt="">
    </div>
    <div class="bullet-content">
      <h2>We'll fill everyone in.</h2>
      <p>When the meeting is over, a meeting summary will be emailed to all invitees, regardless of whether or not they made it to the meeting.</p>
    </div>
  </li>  
  <li class="bullet two-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Remember what happened.</h2>
      <p>Have access to an archive outlining your meeting. Use this as a reference to jog your memory and hold others accountable.</p>
    </div>
  </li> 
</ul>
